.table-wrap::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.5rem;
}

.table-wrap::-webkit-scrollbar-track {
	background: var(--grey_2);
}

.table-wrap::-webkit-scrollbar-thumb {
	background: var(--grey_1);
}

.table-wrap::-webkit-scrollbar-thumb:hover {
	background: #df0000;
}

.wikitable {
	margin: 0;
}

.google-wrap>iframe,
.google-wrap>div {
	width: 100%;
	height: 100%;
}

td>div {
	display: flex;
	height: 22.5px;
	align-items: center;
}

.airline {
	font-family: 'Noto Sans Mono', monospace;
	white-space: pre;
	line-height: 20px;
}

.airline::before,
.airport::before {
	content: '';
	background-size: 1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
}

.AA::before {
	background-image: url('../img/transp/air/AA.svg');
}

.AF::before {
	background-image: url('../img/transp/air/AF.svg');
}

.AM::before {
	background-image: url('../img/transp/air/AM.svg');
}

.AM-2::before {
	background-image: url('../img/transp/air/AM-2.svg');
}

.AZ::before {
	background-image: url('../img/transp/air/AZ.svg');
}

.BA::before {
	background-image: url('../img/transp/air/BA.svg');
}

.BT::before {
	background-image: url('../img/transp/air/BT.svg');
}

.CA::before {
	background-image: url('../img/transp/air/CA.svg');
}

.CZ::before {
	background-image: url('../img/transp/air/CZ.svg');
}

.DL::before {
	background-image: url('../img/transp/air/DL.svg');
}

.EY::before {
	background-image: url('../img/transp/air/EY.svg');
}

.FM::before {
	background-image: url('../img/transp/air/FM.svg');
}

.HO::before {
	background-image: url('../img/transp/air/HO.svg');
}

.IB::before {
	background-image: url('../img/transp/air/IB.svg');
}

.KL::before {
	background-image: url('../img/transp/air/KL.svg');
}

.MF::before {
	background-image: url('../img/transp/air/MF.svg');
}

.MU::before {
	background-image: url('../img/transp/air/MU.svg');
}

.QF::before {
	background-image: url('../img/transp/air/QF.svg');
}

.QR::before {
	background-image: url('../img/transp/air/QR.svg');
}

.T3::before {
	background-image: url('../img/transp/air/T3.svg');
}

.U2::before {
	background-image: url('../img/transp/air/U2.svg');
}

.VS::before {
	background-image: url('../img/transp/air/VS.svg');
}

.ZQ::before {
	background-image: url('../img/transp/air/ZQ.svg');
}

.AMS::before {
	background-image: url('../img/transp/air/AMS.svg');
}

.CAN::before {
	background-image: url('../img/transp/air/CAN.svg');
}

.DPS::before {
	background-image: url('../img/transp/air/DPS.svg');
}

.GLA::before {
	background-image: url('../img/transp/air/GLA.svg');
}

.LGW::before {
	background-image: url('../img/transp/air/LGW.svg');
}

.SHA::before,
.PVG::before {
	background-image: url('../img/transp/air/SHA.svg');
}

.SIN::before {
	background-image: url('../img/transp/air/SIN.svg');
}

@media (min-width: 1001px) {
	.table-wrap, .google-wrap {
		height: calc(100vh - 3.125rem - 2.625em - 45px);
	}
}

@media (max-width: 500px) {
	.table-wrap {
		overflow-y: auto;
	}

	.wikitable {
		overflow: auto hidden;
		width: max-content;
		margin-bottom: 0;
	}
}

@media (max-width: 480px) {
	.table-wrap::-webkit-scrollbar {
		height: 0.25rem;
		width: 0.25rem;
	}
}

@media (max-width: calc(100vh - 3.125rem - 5em)) {
	.google-wrap>iframe {
		width: 100%;
		height: 80vh;
		/* aspect-ratio: 1/1; */
	}
}