.airline {
	font-family: 'Noto Sans Mono', monospace;
	white-space: pre;
	line-height: 20px;
}

.airline,
.airport {
	transition: 0.375s ease-in-out;
}

.airline::before,
.airport::before {
	content: '';
	background-size: 1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
}

/* ---- */

.AA::before {
	background-image: url('../img/transp/air/airline/AA.svg');
}

.AF::before {
	background-image: url('../img/transp/air/airline/AF.svg');
}

.AM::before {
	background-image: url('../img/transp/air/airline/AM.svg');
}

.AM-2::before {
	background-image: url('../img/transp/air/airline/AM-2.svg');
}

.AT::before {
	background-image: url('../img/transp/air/airline/AT.svg');
}

.AY::before {
	background-image: url('../img/transp/air/airline/AY.svg');
}

.AZ::before {
	background-image: url('../img/transp/air/airline/AZ.svg');
}

.BA::before {
	background-image: url('../img/transp/air/airline/BA.svg');
}

.BT::before {
	background-image: url('../img/transp/air/airline/BT.svg');
}

.CA::before {
	background-image: url('../img/transp/air/airline/CA.svg');
}

.CZ::before {
	background-image: url('../img/transp/air/airline/CZ.svg');
}

.DL::before {
	background-image: url('../img/transp/air/airline/DL.svg');
}

.EY::before {
	background-image: url('../img/transp/air/airline/EY.svg');
}

.FM::before {
	background-image: url('../img/transp/air/airline/FM.svg');
}

.HO::before {
	background-image: url('../img/transp/air/airline/HO.svg');
}

.IB::before {
	background-image: url('../img/transp/air/airline/IB.svg');
}

.JL::before {
	background-image: url('../img/transp/air/airline/JL.svg');
}

.KL::before {
	background-image: url('../img/transp/air/airline/KL.svg');
}

.KQ::before {
	background-image: url('../img/transp/air/airline/KQ.svg');
}

.MF::before {
	background-image: url('../img/transp/air/airline/MF.svg');
}

.MH::before {
	background-image: url('../img/transp/air/airline/MH.svg');
}

.MU::before {
	background-image: url('../img/transp/air/airline/MU.svg');
}

.QF::before {
	background-image: url('../img/transp/air/airline/QF.svg');
}

.QR::before {
	background-image: url('../img/transp/air/airline/QR.svg');
}

.T3::before {
	background-image: url('../img/transp/air/airline/T3.svg');
}

.U2::before {
	background-image: url('../img/transp/air/airline/U2.svg');
}

.UX::before {
	background-image: url('../img/transp/air/airline/UX.svg');
}

.VS::before {
	background-image: url('../img/transp/air/airline/VS.svg');
}

.VY::before {
	background-image: url('../img/transp/air/airline/VY.svg');
}

.ZQ::before {
	background-image: url('../img/transp/air/airline/ZQ.svg');
}

/* ---- */

.AMS::before {
	background-image: url('../img/transp/air/airport/AMS.svg');
}

.AMS-2::before {
	background-image: url('../img/transp/air/airport/AMS-2.svg');
}

.BCN::before,
.PMI::before {
	background-image: url('../img/transp/air/airport/BCN.svg');
}

.CAN::before {
	background-image: url('../img/transp/air/airport/CAN.svg');
}

.DPS::before {
	background-image: url('../img/transp/air/airport/DPS.svg');
}

.EDI::before {
	background-image: url('../img/transp/air/airport/EDI.svg');
}

.GLA::before {
	background-image: url('../img/transp/air/airport/GLA.svg');
}

.LGW::before {
	background-image: url('../img/transp/air/airport/LGW.svg');
}

.LHR::before {
	background-image: url('../img/transp/air/airport/LHR.svg');
}

.SHA::before,
.PVG::before {
	background-image: url('../img/transp/air/airport/SHA.svg');
}

.SIN::before {
	background-image: url('../img/transp/air/airport/SIN.svg');
}

.XMN::before {
	background-image: url('../img/transp/air/airport/XMN.svg');
}