/* Special Thanks to: Martin */

:root {
	--line-height: 1.625em;
}

@-moz-document url-prefix() {

	/* 在这里添加只对Firefox生效的样式 */
	#crumbs ul {
		padding: 0 0 12px 0 !important;
	}
}

#crumbs ul {
	display: flex;
	overflow-x: auto;
	padding: 0;
	margin: 0;
}

#crumbs ul li {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	height: var(--line-height);
	padding: 0 0.5em;
	background-color: var(--grey_2);
	position: relative;
}

#crumbs ul li:not(:last-child)::after {
	content: '';
	position: absolute;
	width: calc(0.5 * var(--line-height) + 1px);
	height: 100%;
	background: var(--grey_2);
	right: calc(-0.5 * var(--line-height));
	z-index: 10;
	clip-path: polygon(100% 50%, 1px 0, 0 0, 0 100%, 1px 100%);
}

#crumbs ul li:not(:last-child)::before {
	content: '';
	position: absolute;
	width: calc(0.5 * var(--line-height) + 1px);
	height: 100%;
	background: var(--grey_2);
	left: calc(-0.5 * var(--line-height));
	z-index: 10;
	clip-path: polygon(calc(100% - 1px) 50%, 0 0, 100% 0, 100% 100%, 0 100%);
}

#crumbs ul li:first-child::before {
	background: var(--grey_1);
	clip-path: circle(calc(0.5 * var(--line-height)) at right center);
}

#crumbs ul li:first-child::after {
	background: var(--grey_1);
}

#crumbs ul li:first-child {
	background-color: var(--grey_1);
	color: #fff;
	padding: 0 0.5em 0 0;
	margin: 0 10px 0 calc(0.5 * var(--line-height));
}

#crumbs ul li:last-child {
	background-color: transparent;
	color: #000;
}

#crumbs ul li a {
	color: inherit;
	text-decoration: inherit;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 800px) {
    #crumbs ul li {
		max-width: 7em;
	}
}