@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {
	--theme_colour: #df0000;
	--text_colour: #202122;
	--grey_1: #a2a9b1;
	--grey_2: #eaecf0;
	--grey_3: #f8f9fa;
	--bg_colour: #f6f6f6;
	color-scheme: only light;
}

body {
	background-color: var(--bg_colour);
	margin: 0;
	font-family: 'Noto Sans SC', 'Noto Sans CJK SC', sans-serif;
	color: var(--text_colour);
	font-size: 1em;
}

main {
	padding: 20px 24px 24px 24px;
}

.multilang:lang(ja) {
	font-family: 'Noto Sans JP', 'Noto Sans CJK JP', sans-serif;
}

.multilang:lang(en) {
	font-family: 'Roboto', 'Noto Sans', sans-serif;
}

.multilang {
	font-size: 75%;
}

.multilang {
	color: var(--grey_1);
}

a>.multilang {
	color: inherit;
}

span.multilang {
	margin-left: 0.25em;
}

ruby rt {
	user-select: none;
}

@media (max-width: 480px) {
	main {
		padding: 20px 10px 24px 10px;
	}
}