td {
	vertical-align: top;
}

.table-wrap::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.5rem;
}

.table-wrap::-webkit-scrollbar-track {
	background: var(--grey_2);
}

.table-wrap::-webkit-scrollbar-thumb {
	background: var(--grey_1);
}

.table-wrap::-webkit-scrollbar-thumb:hover {
	background: #df0000;
}

.wikitable {
	margin: 0;
}

td>div {
	display: flex;
	height: 22.5px;
	align-items: center;
}

.flex {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}

.flex>.table-wrap {
	overflow: auto;
}

.flex>.table-wrap>.wikitable {
	word-break: keep-all;
	width: max-content;
}

.flex>div {
	width: calc(50% - 5px);
}


.leaflet-wrap>iframe,
.leaflet-wrap>div {
	width: 100%;
	height: 100%;
}

.valign {
    margin-top: calc((var(--line) - 1) * 22.5px);
}

@media screen and (max-width: 1000px) {
	.flex>div {
		max-width: unset;
		width: 100% !important;
	}

	.leaflet-wrap {
		height: 90vh;
	}
}

@media (min-width: 1001px) {
	.table-wrap, .leaflet-wrap {
		height: calc(100vh - 3.125rem - 2.625em - 45px);
	}
}

@media (max-width: 500px) {
	.table-wrap {
		overflow-y: auto;
	}

	.wikitable {
		overflow: auto hidden;
		width: max-content;
		margin-bottom: 0;
	}
}

@media (max-width: 480px) {
	.table-wrap::-webkit-scrollbar {
		height: 0.25rem;
		width: 0.25rem;
	}
}

@media (max-width: calc(100vh - 3.125rem - 5em)) {
	.leaflet-wrap>iframe {
		width: 100%;
		height: 80vh;
		/* aspect-ratio: 1/1; */
	}
}