#body {
	margin: 0px 40px;
}

header {
	position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
	background-color: #df0000;
	list-style: none;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 3.125rem;
	z-index: 100;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

nav li>* {
	display: block;
	color: #fff;
	font-weight: 700;
	font-size: 125%;
	text-align: center;
	padding: 0.625rem 1rem;
	text-decoration: none;
	height: 100%;
}

nav a:hover,
nav a:focus,
nav a:active {
	color: #fff;
}

nav #icon {
	display: inline-block;
	width: 60px;
}

nav #icon>* {
	background-color: #fff;
	width: 3.125rem;
	height: 3.125rem;
	padding: 0;
	margin: 0 0 0 10px;
	transition: opacity 0.25s ease-in-out;
	position: absolute;
	display: inline;
}

nav #icon>*:nth-child(1) {
	opacity: 1;
}

nav #icon>*:nth-child(2) {
	opacity: 0;
}

nav #icon>*:nth-child(1):hover {
	opacity: 0;
}

nav #icon>*:nth-child(2):hover {
	opacity: 1;
}

nav #now {
	background-color: #bb0101;
}



/* Mobile devices */
@media (max-width: 480px) {
	:root {
		--rem: 24px;
	}

	nav ul {
		height: 2.5rem;
	}

	nav li:not(#icon) * {
		font-size: 100%;
		padding: 0.5rem 0.75rem;
	}

	nav #icon img {
		border-radius: 0 0 5px 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
}