.led-section {
	--line_colour: #df0000;
}

.led-section>article {
	width: calc(50% - 5px);
	break-inside: avoid;
}

.led-section>article div {
	overflow-x: auto;
	background: #c3c3c3;
}

.led-section>article>div {
	height: calc(100% - 30px);
}

.led-section>article div>img {
	image-rendering: pixelated;
	display: block;
}

.led-section>article div>img:nth-of-type(n+2) {
	margin-top: 1px;
}

.led-section>article>h3 {
	background-color: var(--line_colour);
	padding: 0;
	margin: 0;
	font-family: "Roboto", "Noto Sans CJK SC";
	font-size: 1.25em;
	line-height: 1.5em;
}

.led-section>article>h3>span {
	background-color: #fff;
	color: var(--line_colour);
	padding: 0.15em 0.5em;
	margin-left: 0.75em;
}

.led-section>article div::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.5rem;
}

.led-section>article div::-webkit-scrollbar-track {
	background: var(--grey_2);
}

.led-section>article div::-webkit-scrollbar-thumb {
	background: var(--grey_1);
}

.led-section>article div::-webkit-scrollbar-thumb:hover {
	background: var(--line_colour);
}

@media (max-width: 480px) {
	.led-section>article {
		width: 100%;
	}

	.led-section>article div::-webkit-scrollbar {
		height: 0.25rem;
		width: 0.25rem;
	}
}