@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

#modeSelector button {
	padding: 0.625rem 1.25rem;
	background-color: var(--grey_2);
	border: none;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	color: #333;
	font-weight: bold;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#modeSelector button.active {
	background-color: var(--sec_color);
	color: #000;
	border-bottom: 2px solid var(--sec_color);
}

#modeSelector button:hover,
#modeSelector button:focus {
	background-color: var(--grey_1);
	color: #000;
}

@media (max-width: 480px) {
	#modeSelector {
		flex-direction: column;
		align-items: center;
	}

	#modeSelector button {
		width: 100%;
		text-align: center;
	}
}

.controls {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0.75rem 1rem;
	background-color: var(--sec_color);
	border-radius: 5px;
}

.badge {
	height: 30px;
	min-width: 30px;
	border-radius: 0.25em;
	background: var(--grey_2);
	align-items: center;
	justify-content: center;
	display: flex;
	font-weight: 600 !important;
	font-size: 16px;
	text-align: center;
}

.accordion section {
	padding: 0.5rem 1rem;
}

.accordion-btn {
	display: flex;
	font-size: 1rem;
	align-items: center;
	gap: 12px;
	background: #fff;
	border: none;
	cursor: pointer;
	position: relative;
	font-weight: 700;
	text-align: left;
	padding: 0.5em 1.5em 0.5em 2px;
}

.accordion-btn span:not(:last-child)::after {
	content: "";
	width: 0.125em;
	height: 1.125em;
	background-color: var(--grey_1);
	background-color: rgba(from var(--line_colour) r g b / 0.625);
	margin: 0 0.325em;
	display: inline-block;
	vertical-align: -3.25px;
}

.accordion-btn::after {
	content: '';
	mask: url(../img/icon/right.svg);
    mask-repeat: no-repeat;
    mask-position: center;
	position: absolute;
	background-color: var(--text_colour);
	right: 0;
	top: 0.75em;
	bottom: auto;
	width: 20px;
	height: 1.5em;
	background-size: 1em;
	transition: .25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.accordion-btn:hover::after {
	background-color: var(--line_colour);
}

.accordion-btn.open::after {
	transform: rotate(90deg);
	background-color: var(--line_colour);
}

.accordion-btn div {
	padding: 0;
	display: inline-table;
	font-size: 1.25em;
	font-weight: 700;
	margin: 0;
	line-height: initial;
}

.accordion-btn svg,
.accordion-btn img {
	height: 1.5em;
	width: 1.5em;
	vertical-align: top;
}

.accordion-btn span {
	vertical-align: bottom;
	line-height: 1.5em;
	color: var(--line_colour);
}

.panel {
	max-height: 0;
	overflow: auto hidden;
	transition: max-height 0.3s ease-in-out;
}

.panel table,
.panel th,
.panel td {
	border-collapse: collapse;
	border: 0;
	border-bottom: 1px solid var(--grey_1);
	width: max-content;
}

.panel th {
	background-color: #eaecf0;
	text-align: center
}

.panel th,
.panel td {
	/* padding: 0.2em 0.4em */
	padding: 0.5em 0.75em
}

.panel td:nth-of-type(1) {
	padding: 0.2em 0.5em;
}

.panel td:nth-of-type(2) {
	padding-left: 0.2em;
}

.panel td:nth-last-of-type(2) {
	padding-right: 0.2em;
}

.panel th:first-child,
.panel td:first-child {
	position: sticky;
	left: 0;
	z-index: 1;
	background-color: #fff;
}

.panel th:last-child,
.panel td:last-child {
	position: sticky;
	right: 0;
	z-index: 1;
	background-color: #fff;
}

.panel table td:first-child {
	width: 24px;
	padding: 0 0.325em;
	align-content: center;
}

.panel table svg,
.panel table img {
	height: 1.5em;
	width: 1.5em;
	vertical-align: bottom;
}

.panel table *:lang(ja),
.accordion-btn *:lang(ja) {
	font-family: "Noto Sans JP", "Noto Sans CJK JP", sans-serif;
}

.panel table *:lang(en),
.accordion-btn *:lang(en) {
	font-family: "Inter Variable", "Inter", "Roboto", "Noto Sans JP", "Noto Sans CJK JP", sans-serif;
}

.panel table *:lang(zh-Hans),
.accordion-btn *:lang(zh-Hans) {
	font-family: "Noto Sans SC", "Noto Sans CJK SC", sans-serif;
}

.panel table *:lang(zh-Hant),
.accordion-btn *:lang(zh-Hant) {
	font-family: "Noto Sans TC", "Noto Sans CJK TC", sans-serif;
}

.panel table *:lang(ko),
.accordion-btn *:lang(ko) {
	font-family: "Noto Sans KR", "Noto Sans CJK KR", sans-serif;
}

.panel table *:lang(zh-Latn) {
	font-family: "Inter Variable", "Inter", sans-serif;
	font-feature-settings: "cv11" 1;
}

.panel table td span.sub {
	font-size: 0.75em;
	font-weight: 450;
}

td span.full {
	margin-left: -0.5em;
}

td.en span.full {
	font-family: "Inter Variable", "Inter", "Roboto", "Noto Sans JP", "Noto Sans CJK JP Regular";
}


.panel table td span.vs17::after {
	content: "\E0100";
}

.panel table td span.vs18::after {
	content: "\E0101";
}

.panel table td span.vs19::after {
	content: "\E0102";
}

.panel table td.link {
	width: 0.75em;
}

.panel table td.link a {
	display: list-item;
	mask: url(../img/icon/right.svg);
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: var(--grey_2);
	cursor: not-allowed;
}

.panel table td.link a[href] {
	content: "";
	background-color: var(--text_colour);
	cursor: pointer;
}

.panel table td.link a[href]:hover {
	background-color: var(--line_colour);
	transition: .125s ease-in-out;
}

.panel table tr.wip {
	color: var(--grey_2);
}

.panel table tr.wip:hover {
	color: #fff;
}

.panel table tr.wip:hover td.link a {
	background-color: #fff;
	cursor: not-allowed;
}

td.set::after {
	content: "*";
	color: var(--grey_1);
	display: inline-block;
	width: 0;
}

.panel::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.5rem;
	position: absolute;
	bottom: 0;
}

.panel::-webkit-scrollbar-track {
	background: var(--grey_2);
}

.panel::-webkit-scrollbar-thumb {
	background: var(--grey_1);
}

.panel::-webkit-scrollbar-thumb:hover {
	background: var(--line_colour);
}

@media (min-width: 480px) {
	.accordion-btn *:lang(en) {
		line-height: 27.5px;
	}

	.accordion-btn svg {
		margin-right: 0.5em;
	}

	.panel table tr:hover,
	.panel table tr:hover td:first-child,
	.panel table tr:hover td:last-child {
		background-color: #eaf3ff;
		--line_colour_opacity: 0.125;
		background-color: rgb(from var(--line_colour) calc(r * var(--line_colour_opacity) + 255 * (1 - var(--line_colour_opacity))) calc(g * var(--line_colour_opacity) + 255 * (1 - var(--line_colour_opacity))) calc(b * var(--line_colour_opacity) + 255 * (1 - var(--line_colour_opacity))));
	}
}

@media (max-width: 480px) {
	:root {
		--rem: 24px;
	}

	.accordion section {
		padding: 0.125rem 0.25rem;
	}

	.accordion-btn {
		padding: 0.5rem 0.5rem 0.5rem 0.25rem;
	}

	.accordion-btn div svg,
	.accordion-btn div img {
		font-size: 1.75rem;
		float: left;
	}

	.accordion-btn div span:nth-of-type(1) {
		display: block;
		margin-left: 3rem;
		margin-right: 20px;
		font-size: 1.5rem;
		line-height: 1.75rem;
	}

	.accordion-btn div span:nth-of-type(2) {
		display: block;
		margin-left: 3rem;
		margin-right: 20px;
		font-size: 0.875rem;
		line-height: 0.875rem;
	}

	.accordion-btn::after {
		top: 0.75em;
		right: 7.5px;
	}

	.panel table td:not(:first-child) {
		position: initial;
	}

	.accordion-btn div span:nth-of-type(1)::after,
	.accordion-btn div span:nth-of-type(2)::after {
		content: none;
	}

	.accordion-btn div span:nth-of-type(n+3) {
		display: none;
	}

	.panel table:not(:has(td:first-child svg)) td:first-child {
		display: none;
	}

	#linesView .panel table td:first-child:not(:has(svg))+td:nth-of-type(2) {
		padding: 0.5em 0.75em;
	}

	.panel::-webkit-scrollbar {
		height: 0.25rem;
		width: 0.25rem;
	}
}

.load-more {
	text-align: center;
	margin: 8px;
}

.load-more button {
	padding: 6px 12px;
	border-radius: 8px;
	border: 1px solid #d7dbe6;
	background: #fff;
	cursor: pointer;
}