.operator {
	font-family: 'Noto Sans Mono', monospace;
	align-items: center;
}

.operator>i::after,
.operator>i::before {
	content: '';
	background-size: 1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: -2.5px;
	background-repeat: no-repeat;
}

[class*='CR-']>i::before {
	background-image: url('../img/transp/rail/operator/CR.svg');
}

.CR-SH>i::after {
	background-image: url('../img/transp/rail/operator/CR-SH.png');
}

.CR-TY>i::after {
	background-image: url('../img/transp/rail/operator/CR-TY.png');
}

[class*='NR-']>i::before {
	background-image: url('../img/transp/rail/operator/NR.svg');
}

.NR-NT>i::after {
	background-image: url('../img/transp/rail/operator/NR-NT.svg');
}

.NR-SR>i::after {
	background-image: url('../img/transp/rail/operator/NR-SR.svg');
}

.NR-TP>i::after {
	background-image: url('../img/transp/rail/operator/NR-TP.svg');
}

.NR-VT>i::after {
	background-image: url('../img/transp/rail/operator/NR-VT.svg');
}

@media screen and (max-width: 500px) {
	.table-wrap {
		overflow-y: auto;
	}

	.wikitable {
		overflow: auto hidden;
		width: max-content;
		margin-bottom: 0;
	}
}