.operator::after,
.operator::before {
	content: '';
	background-size: 1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: -2.5px;
	background-repeat: no-repeat;
}

td:has(.operator) {
	font-family: 'Noto Sans Mono', monospace;
	white-space: pre;
}

[class*='CR-']::before {
	background-image: url('../footprint/railicon/CR.svg');
}

.CR-SH::after {
	background-image: url('../footprint/railicon/CR-SH.png');
}

.CR-TY::after {
	background-image: url('../footprint/railicon/CR-TY.png');
}

[class*='NR-']::before {
	background-image: url('../footprint/railicon/NR.svg');
}

.NR-NT::after {
	background-image: url('../footprint/railicon/NR-NT.svg');
}

.NR-SR::after {
	background-image: url('../footprint/railicon/NR-SR.svg');
}

.NR-TP::after {
	background-image: url('../footprint/railicon/NR-TP.svg');
}

.NR-VT::after {
	background-image: url('../footprint/railicon/NR-VT.svg');
}

@media screen and (max-width: 500px) {
	.table-wrap {
		overflow-y: auto;
	}

	.wikitable {
		overflow: auto hidden;
		width: max-content;
		margin-bottom: 0;
	}
}