.firstHeading {
	margin-bottom: 7.2px;
	border-bottom: 1px solid var(--grey_1);
}

.wikitable {
	background-color: var(--grey_3);
	color: var(--text_color);
	margin: 1em 0;
	border: 1px solid var(--grey_1);
	border-collapse: collapse
}

.wikitable>tr>th,
.wikitable>tr>td,
.wikitable>*>tr>th,
.wikitable>*>tr>td {
	border: 1px solid var(--grey_1);
	padding: 0.2em 0.4em
}

.wikitable>tr>th,
.wikitable>*>tr>th {
	background-color: var(--grey_2);
	text-align: center
}

.toc {
	display: table;
	padding: 7px;
	background-color: var(--grey_3);
	border: 1px solid var(--grey_1);
	padding: 5px;
	font-size: 95%;
}

.toc .toctitle {
	direction: ltr;
	text-align: center;
}

.toc h2 {
	font-family: sans-serif;
	font-size: 100%;
	display: inline;
	border: 0;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}

.toc ul {
	list-style: none;
	margin: 0.3em 0;
	padding: 0;
	text-align: left;
}

.toc ul ul {
	margin: 0 0 0 2em;
}

.tocnumber {
	padding-left: 0;
	padding-right: 0.5em;
	color: var(--text_color);
	padding-left: 0;
	padding-right: 0.5em;
}

.tocnumber,
.toctext {
	display: table-cell;
	text-decoration: inherit;
}

li,
dd {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
}

main li {
	margin-bottom: 0.1em;
}

section>ul {
	margin: 0.3em 0 0 1.6em;
	padding: 0;
	list-style-image: url(../img/icon/bullet-icon.svg);
}

a.fw::after {
	content: "";
    background-image: url("../img/icon/fw.svg");
    background-position: center left;
    background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0.25em;
    height: 0.75em;
	width: 0.75em;
}

a[target="_blank"]::after {
	content: "";
    background-image: url("../img/icon/external.svg");
    background-position: center left;
    background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0.25em;
    height: 0.75em;
	width: 0.75em;
}

a[target="_blank"].fw::after {
	background-image: url("../img/icon/external-fw.svg");
    width: 0.9375em;
}

a {
	text-decoration: none;
	color: #0645ad;
	background: none;
}

a:active {
	color: #faa700;
}

a:hover,
a:focus,
a:hover span,
a:focus span {
	text-decoration: underline;
}

.BS-distance {
	text-align: right;
	vertical-align: middle;
	padding: 0 0.5em;
	font-size: 80%;
}

.BS-name {
	text-align: left;
	font-size: 90%;
	padding-left: 3px;
}

.BS-comment {
	text-align: right;
	vertical-align: middle;
	padding: 0 0 0 3px;
	font-size: 90%;
	border: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text_color);
	font-weight: bold;
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.17em;
	overflow: hidden;
}

h1,
h2 {
	margin-bottom: 0.6em;
	border-bottom: 1px solid var(--grey_1);
	word-break: keep-all;
}

h2 {
	font-family: sans-serif;
	margin-top: 1em;
	font-size: 1.5em;
	margin-bottom: 0.25em;
	padding: 0;
	line-height: 1.375em;
	font-weight: normal;
}

h3 {
	margin-top: 0.3em;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1.6;
	font-size: 1.2em;
}

p {
	margin: 0.5em 0;
}

.sprite {
	display: inline-block;
	vertical-align: -7.5%;
	height: 16px;
	width: 16px;
	margin-left: 0.05em;
	margin-right: 0.2em;
	background-repeat: no-repeat;
}

/* Mobile devices */
@media (max-width: 480px) {
	main ul {
		list-style-type: disc;
		margin: 0;
		padding: 0;
		padding-left: 1em;
	}

	.wikitable>tr>th,
	.wikitable>tr>td,
	.wikitable>*>tr>th,
	.wikitable>*>tr>td {
		padding: 0.2em;
		border: 1px solid var(--grey_1);
	}
}